/* @font-face {
  font-family: "Oswald";
  src: url("font/Oswald-Bold.ttf");
  src: url("font/Oswald-Light.ttf");
  src: url("font/Oswald-Medium.ttf");
  src: url("font/Oswald-Heavy.ttf");
  } */
body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
    font-size: 20px;
    background-color: white;
  }
  
  header nav {
    text-align: right;
    background:white;
    color: black;
    font-size: 1em;
    font-weight: 200;
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  header nav a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 2em 1em .5em;
    -webkit-transition: all .3s ease-in;
  }
  #homepage h6{
    color: black;
  }
  .small {
    padding: .5em 1em;
  }
  header nav a:hover {
    text-decoration: underline;
  }
  
  .active {
    background: rgba(255,255,255,0.3);
    color:rgb(0, 255, 217);
  }
  
  .portion {
    
    background-image: url('darkwala.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: black;
    clip-path: polygon(0 0, 100% 0, 100% 91%, 0 100%);
  }
  .portion.two {
    /* background-image: url('portion1.jpeg'); */
     background-color: rgb(23, 216, 171);
  }
  .portion h2 {
    color: black;
    font-weight: normal;
    font-size: 3em;
    padding: 5em 0;
    margin: 0;
    text-shadow: 0 0 10px white;
    background: rgba(0,0,0,0);
  }
  .landing{
    text-align: center;
    font-family: 'Oswald';

  }
  .portion .landing h2{
  padding-top: 5em;
  padding-bottom: 0;
  color  : black;
  }
  .portion .landing h3{
    color  : black;
    }
  .info {
    background: white;
    color:black;
    text-align: left;
  }
  
  .button {
    text-align: center;
  }
  .button a {
    display: inline-block;
    border: 1.5px solid black;
    padding: .75em 1.5em;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    word-spacing: .25em;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
  }
  .button a:hover {
    color: white;
    background:black;
  }
  footer.info {
    color: #FFFAF0;
    background: #777;
    padding: 0 auto;
    text-align: center;
  }
  
  #toTop img {
    width: 50px;
  }
  #toTop img:hover {
    cursor: pointer;
  }
  nav img {
    z-index: 1000;
    height: 2.5em;
    position: absolute;
    left: 40px;
    top: 10px;
    transition: all 0.5s linear;
  }
  
  .move {
    top: -60px;
  }
  
  nav span {
    position: absolute;
    left: 40px;
    top: 10px;
    font-weight: bold;
    transition: all 0.5s ease-in;
  }
  
  .movetext {
    top: -30px;
  }
  body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("homepage2.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#homepage h1{
  color: black;
  font-size: 48px;
  transition: all .2s ease-out;
  font-family: 'Oswald';
  font-weight: light;
}
#myname h1{
  font-weight: 100;
}
#homepagedesignintro {
  transition: all .2s ease-out;
}
#homepagedesignintro :hover{
  transform: scale(1.5);
}
#homepage h1:hover{
  transform: scale(1.1);
  color: #0375B4;
}
#homepage h4{
  color: black;
  font-weight: 100;
}
#homepage .row{
  text-align: center;
}
#homepage_designer{
  text-align: right;
}
#homepage_coder{
  text-align: left;
}
landing row{
  text-align: center;
 font-weight: bold;
 color: black;
  
}
.landing img{
  max-width: 100%;

}
#myname{
  text-align: center;
}
#myname h1{
  color: black;
  font-size: 99px;
  font-weight: heavy;
  opacity: 80;
  font-family: 'Oswald';
  color: black;
}
.landing .myimage{
  transition: all .2s ease-out;

}
.landing .myimage:hover{
  transform: scale(1.1);
  background-color: white;
  border-radius: 20px;
  border: 22px;
  border-color: black;
}
.landing .myimage:hover .workdetails{
 display: block;
}
.landing .myimage .workdetails{
  display: none;
  padding: 5px;
  font-weight: 200;
  font-size: 15px;
 }



.post{
  width: 323px;
  height: 200px;
  position: relative;
  cursor: pointer;
}
.post-f{
  position: absolute;
  color:black;
  font-size: 20px;
  z-index: 100;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.511);
  top: 0;
  width: 323px;
  height: 200px;
  display: flex;
}
.post:hover .post-s{
  width: 323px;
}
.post:hover .post-f{
  display: none;
  transition: 0.4 ease;
}
.post img {
  display: block;
  width: 323px;
  height: 200px;
  object-fit: cover;
  object-position: center center;
}
.post-s{
  width: 0px;
  height: 200px;
  background: rgba(0, 200, 255, 0.71);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;
}
.post-s h2{
  color: black;
  font-size: 50px;
  border: 6px solid black;
  padding: 10px 30px;
}




.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: black;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
#Testimonials .active{
  background: rgba(0,0,0,0);
}
#Contact{
  text-align: center;
}
#Contact p{
  font-size: 18px;
  font-weight: 100;
}
#Contact h3{
  text-transform: uppercase;
}
#Contact h4{
  color: #0375B4;
  font-weight: 200;
  font-size: 22px;
  display: inline-block;
    border: 1.5px solid black;
    padding: .75em 1.5em;
    text-decoration: none;
    border-radius: 5px;
    word-spacing: .25em;
    transition: all 0.3s ease-in-out;
}
footer{
  text-align: center;
  background-image: url("footer2.jpg");
 color: black;
 font-weight: 400;
 font-size:17px;
 font-family: 'Rajdhani', sans-serif;
}
footer p{
  font-weight: 200;
  font-size: 18px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgba(255, 255,255, .5);

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
footer .container{
  text-align: left;
}
footer h3{
  font-size: 25px;
  font-weight: 600;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
 color: blue;
}
.fa-behance{
  color:lightblue;
}
#followme{
  text-align: right;
}
